@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg1: #0f172a;
  --bg2: #1e3a8a;
}
body {
  background: linear-gradient(90deg, var(--bg1) 0%, var(--bg2) 100%);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
